@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
   
}
.header__top {
    padding: 9px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.djordan__svg {
}
.header__top__p__div {
    padding: 5px 10px;
    background: #FFFFFF;
    margin-left: 150px;
}

.header__top__p {
    font:500 13px/26px  'Helvetica Neue';
    color: black;
    cursor: pointer;
}
.header__top__ul {
    display: flex;
    gap: 32px;
}
.header__top__ul__li {
    font:500 11px/14px  'Helvetica Neue';
    color: black;
    cursor: pointer;
    padding-right:15px ;
    border-right:1px solid black ;
}

.header__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 48px;
    background: #FFFFFF;
    
}
.nike__svg {
}
.header__center__ul {
    display: flex;
    gap: 23px;
    cursor: pointer;
    margin-left: 150px;
}
.header__center__ul__li {
    font:500 15px/24px  'Helvetica Neue';
    color: black;
}
.header__center__ul__li__men{
    font:500 15px/24px  'Helvetica Neue';
    color: black;  
}
.header__center__ul__li__women{
    font:500 15px/24px  'Helvetica Neue';
    color: black;  
}
.header__center__ul__li:nth-child(6) {
    font:500 16px/24px  'Helvetica Neue';
    color: black;
}
.header__center__icons {
    display: flex;
    align-items: center;
    gap: 28px;
}
.header__center__input {
    padding: 11px 48px;
    border-radius: 50px;
    background: #F5F5F5
}
.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
}
.card{
    width: 330px;
    margin-bottom: 25px;
}
.card img{
    width: 100%;
}
.name__h1{
    font:500 15px/28px  'Helvetica Neue';
    color: #9E3500;
    margin-top: 10px;
}
.title{
    font:500 15px/24px  'Helvetica Neue';
    color: #111111;
}
.category__p{
    font:400 15px/24px  'Helvetica Neue';
    color: #757575;
    margin-bottom: 5px;
}
.color__p{
    font:400 15px/24px  'Helvetica Neue';
    color: #757575;
    margin-bottom: 19px;
}
.price{
    font:500 15px/24px  'Helvetica Neue';
    color: #111111;
}

.con__title__p {
    margin-left: 10px;
}
.con__ul {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.con__ul__shoes {
}
.con__ul__tops {
}
.card__btn{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: #94bbe9;
    cursor: pointer;
    margin-top: 15px;
}
a{
    color: black;
}
.sec1{
    display: flex;
    gap: 20px;
}
.popup__basket.active{
   overflow: scroll;
  scroll-behavior: smooth;
    position: fixed;
    height: 80vh;
    width: 700px;
    right: 20px;
    background: #e4e8ed;
    transition: 1s;
    display: block;
}
.popup__basket{
    display: none;
   
  
}
.pop{
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin: 30px;
}
.material-symbols-outlined{
    font-size: 38px!important;
    color: red;
}