*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
}
.header__top {
    padding: 9px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.djordan__svg {
}
.header__top__p__div {
    padding: 5px 10px;
    background: #F5F5F5;
    margin-left: 150px;
}

.header__top__p {
    font:500 13px/26px  'Helvetica Neue';
    color: black;
    cursor: pointer;
}
.header__top__ul {
    display: flex;
    gap: 32px;
}
.header__top__ul__li {
    font:500 11px/14px  'Helvetica Neue';
    color: black;
    cursor: pointer;
    padding-right:15px ;
    border-right:1px solid black ;
}

.header__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 48px;
    background: #F5F5F5
    
}
.nike__svg {
}
.header__center__ul {
    display: flex;
    gap: 23px;
    cursor: pointer;
    margin-left: 150px;
}
.header__center__ul__li {
    font:500 15px/24px  'Helvetica Neue';
    color: black;
}
.header__center__ul__li__men{
    font:500 15px/24px  'Helvetica Neue';
    color: black;  
}
.header__center__ul__li__women{
    font:500 15px/24px  'Helvetica Neue';
    color: black;  
}
.header__center__ul__li:nth-child(6) {
    font:500 16px/24px  'Helvetica Neue';
    color: black;
}
.header__center__icons {
    display: flex;
    align-items: center;
    gap: 28px;
}
.header__center__input {
    padding: 11px 48px;
    border-radius: 50px;
    background: #F5F5F5
}
a{
    color: #111111;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.single .container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;


}
.first__ul li{
    width: 59px;
        height: 14px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #111111;

}
.first__footer{
    display: flex;
    justify-content: space-between;
}
.first__footer__right{
    display: flex;
    justify-content: space-between;
}
.first__icon{
    padding-left: 50px;
}
.first__footer img{
        left: 9.21%;
        right: 10.79%;
        top: 12.5%;
        bottom: 12.62%;
}
.first__ul{
    display: flex;
    justify-content: space-between;
    gap: 27px;
    padding-top: 11px;
}
.size__btn{
    padding: 19px 148px;
    background: #111111;
        border-radius: 30px;
        color: aliceblue;


}
.nike__right{
    width: 35%;
}
.nike__img__left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;

}
.nike__img__left img{
    width: 45%;
}
.size__btns{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.size__btn1{
    padding: 10px 20px;
    background-color: #9cc0ed;
}
.size__btn2{
    padding: 10px 20px;
}